
{% extends 'templates/index.html' %}
    {% block content %}
    
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">  </p><br /><br />
    <div style="width:900px; position: relative; margin-left: auto; margin-right: auto;"> 
   
   
    <body>
        <center> <div class="n"><p>   
        <b><font color="#000000" face="georgia" size="4">
        <marquee width="400" scrollamount="5" bgcolor="#FFFFFF">
        "no lo dudes...VAMOS A DARLE :)"</marquee>   
    </font></b></p><center>
            
            <h1> Bienvenido al Blog sobre HONDURAS </h1>
            <img src="/media/escudo.jpg" alt="logo"/>
    </body>

    {% endblock %}